<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Helmes Test Task</title>
</head>
<body>
<div>
    <h1>
        Please enter your name and pick the Sectors you are currently involved in.
    </h1>
    <form id="sector-form" th:action="@{/save}" th:method="POST" th:object="${user}">
        <label for="sector-form-name">Name:</label>
        <input type="text" id="sector-form-name" th:field="*{name}" required minlength="2" maxlength="120"/>
        <label for="sector-form-sectors">Sectors:</label>
        <select th:field="*{selectedSectorsIds}"  id="sector-form-sectors" form="sector-form" size="5" multiple required>
            <option th:each="sector : ${sectors}"
                    th:value="${sector.getId()}"
                    th:text="${#strings.prepend(sector.getName(), '&nbsp;'.repeat(sector.getSpacing()))}"
                    th:selected="${user.getSelectedSectorsIds().contains(sector.getId())}">
            </option>
        </select>
        <label for="sector-form-tac">Agree to terms</label>
        <input type="checkbox" id="sector-form-tac" th:field="*{consent}" th:checked="${user.isConsent()}" required/>
        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>
